.users {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.person{
    background-color: rgb(207, 207, 207);
    color: black;
    width: 300px;
    max-width: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 1.9em 1.5em 1.9em 1.5em;
    border-radius: 15px;
}
.person_name{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.person_list{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 10px;
    font-size: 1.1rem;
}
.person_item{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 4px;
    
}
.person_label {
    color: rgb(97, 97, 97);
    font-weight: 500;
}
.person_img_birthday, .person_img_email {
    padding:  0 5px;
}
.person_value{
    font-weight: 400;
    display: flex;
    align-content: center;
}
.person_btns{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.person_btn_delete{
    background-color: rgba(250, 0, 0, 0.864);
    border-radius: 0.5em;
    transition: 300ms;
}
.person_btn_edit{
    background-color: rgba(0, 89, 255, 0.895);
    border-radius: 0.5em;
    transition: 300ms;
}
.person_btn_delete:hover {
    transform: rotate(-8deg);
}
.person_btn_edit:hover {
    transform: rotate(8deg);
}